body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    background-color:#f0f0f0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.container {
    background-color: rgb(139, 183, 137);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 30px 40px;
    width: 100%;
    max-width: 500px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h2 {
 font-size:1.5em;
 color:#333;

}
 p {
    font-size:1em;
    color:#333;
    margin-bottom: 20px;
 }
 input {
    width: 100%;
    font-size:1em;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
 }
 button {
    background-color:#011d0d;
    color:#fff;
    padding:10px;
    font-size:1em;
    width:100%;
    border: none;
    border-radius: 5px;
   justify-content: center;
 }
 button:hover {
    background-color: #025411;

 }
 #result {
    margin-top: 20px;
    font-size:1.1em;
 }

